* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #EEEEEE;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,4,76,1) 49%, rgba(20,30,97,1) 100%);
}

.navbar-brand {
    font-family: "Scepter", serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0;
}

.container-fluid {
    padding: 3% 5% 7%;
}

.navbar {
    margin: 0;
    padding: 0;
    margin-bottom: 4rem;
    position: relative;
    z-index: 1;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
    color: #787A91
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #EEEEEE;
}

h2 {
    color: #787A91;
}

h3 {
    color: #0F044C;
    font-weight: bold;
}

.em {
    color: #EEEEEE;
    font-weight: bold;
    font-family: "Scepter", serif;
    font-size: 2.5rem;
}

.welcome {
    position: relative;
    z-index: 1;
}

.welcometext {
    margin-bottom: 2rem;
}

.img {
    padding-left: 100px;
    height: 300px;
}

.portrait {
    position: absolute;
    top: -155px;
}

#title {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,4,76,1) 49%, rgba(20,30,97,1) 100%);
}
#technologies {
    background-color: #787A91;
    position: relative;
    z-index: 1;
}

.icons {
    font-size: 4rem;
    text-align: center;
}

.icon-div:hover {
    background-color: #888ba2;
}

.icon-div {
    padding: 1rem;
}

.icon {
    margin: 1rem auto;
    background: #0F044C;
    background: linear-gradient(to right, #0F044C 0%, #0F044C 50%, #787A91 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#projects {
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(15,4,76,1) 49%, rgba(20,30,97,1) 100%);
    height: 1000px;
    position: relative;
    /* z-index: 1; */
    text-align: center;
    padding: 2rem 1rem;
}

.heading {
    font-family: "Scepter", sans-serif;
    font-weight: bold;
    color: #EEEEEE;
    margin: 1rem 0;
}

.project-row {
    margin-top: 1rem;
}

p {
    color: #787A91;
    /* font-weight: bold; */
}